.hero-section {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb79w895LL2E39d_HcElYPYkgoN2hoGSIF0Q&usqp=CAU');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  height: 100vh; /* Ensure the section covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e65300;
}
