.para{
    position: absolute;
    top: 20%;
    left: 27%;
    
    width: 40%;
    height: 80%;
    padding: 60px;
    background-image: linear-gradient(rgb(66, 61, 61)
    ,white);
    box-shadow: 100px 5px 10px 10px rgba(0,0,0,0,15);
    border-radius:30px;
}
