/* AuthPage.css */

.auth-container {
  background-color: grey; /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .form-container {
    position: relative; /* Add relative positioning to contain the logo */
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .form-container h1{
    text-align: center;
    background-color: antiquewhite;
  }
  
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .toggle-link {
    text-align: center;
    color: #333;
    cursor: pointer;
  }
  